/*========================================
#       SCROLL-UP BUTTON
========================================*/

@media (max-width: 500px) {
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 767px) {

    .scroll-up-btn.show {
        bottom: 70px;

    }
}







@media (max-width: 500px) {
    .page-title {
        position: relative;
        background-size: cover;
        /* padding: 70px 0 100px 0; */
        padding: 150px 0 85px;
    }
}

/*========================================
#       MENU SECTION
========================================*/

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }
}


/* =================== GENERAL STYLES =================== */
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        max-width: 930px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
}


/*========================================
#        NAVBAR SECTION 
========================================*/
@media (max-width: 947px) {
    .nav-bar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        transition: all 0.3s ease;
        overflow-y: auto;


    }

    .nav-bar .menu.active {
        left: 0;
    }

    .nav-bar .menu li {
        display: block;
    }

    .nav-bar .menu li a {
        display: inline-block;
        margin: 5px 0;
        font-size: 25px;
    }
}







/*========================================
#        HOME SECTION 
========================================*/
@media (max-width: 947px) {
    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
}

@media (max-width: 690px) {
    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}


/*========================================
#        About section
========================================*/
@media (max-width: 768px) {
    .about .row {
        flex-direction: column;
    }

    .about .col-md-6 {
        width: 100%;
    }

    .about-img img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .about h3 {
        font-size: 20px;
    }

    .about .paragraph {
        font-size: 16px;
    }

    #about-btn {
        font-size: 14px;
        padding: 10px 28px;
    }
}


@media (max-width: 1024px) and (min-width: 992px) {
    .socail_contact {
        display: none;
    }
}


/* @media (max-width: 1024px) and (min-width: 992px) {
    .about .row {
        display: flex;
        align-items: stretch;
    }

    .about .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
} */


/*========================================
#        Breadcrum Section
========================================*/
@media (max-width: 500px) {
    .page-title {
        position: relative;
        background-size: cover;
        /* padding: 70px 0 100px 0; */
        padding: 150px 0 85px;
    }
    }



/*========================================
# Show Bottom Navigation Bar Only on Mobile Devices
========================================*/

@media (max-width: 767px) {
    .footer-mobile-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        background-color: #434242;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        font-family: 'Poppins', sans-serif;

    }

    .footer-mobile-nav .nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-mobile-nav .nav-item {
        flex: 1;
        text-align: center;
    }

    .footer-mobile-nav .nav-link {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        padding: 10px 0;
        transition: color 0.3s ease;
    }



    .footer-mobile-nav i {
        font-size: 18px;
        margin-bottom: 3px;
    }

    .footer-mobile-nav span {
        font-size: 12px;
    }


    .footer-mobile-nav .inq {
        background-color: #22405e;
    }

    .footer-mobile-nav .whatsapp {
        background-color: #4CAF50;
    }

    .footer-mobile-nav .call {
        background-color: #1D69E1;
    }

    .footer-mobile-nav .download {
        background-color: #fc3441;
    }
}

/*========================================
# Hide on Tablets & Larger Screens 
========================================*/

@media (min-width: 768px) {
    .footer-mobile-nav {
        display: none !important;
    }
}


/*========================================
# project Page Detail Read More css
========================================*/
/* Show Full Content on Screens 769px and Above */
@media (min-width: 769px) {
    .more-content {
        display: block !important;
    }

    .read-more-btn {
        display: none !important;
    }
}

/* Show More Content When 'Read More' is Clicked */
.more-content.show {
    display: block;
}

/* Flexbox to Align Read More Button and Deploy URL */
.btn-deploy-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Align Read More Button to the Right on Small Screens */
@media (max-width: 768px) {
    .btn-deploy-wrapper {
        justify-content: flex-end;

    }

    .deploy-url {
        margin-left: auto;

    }
}
